---
import { getRelativeLocaleUrl } from 'astro:i18n';
import Layout from '@/layouts/MainLayout.astro';
import { Image } from 'astro:assets';
// defaultLocale is "en"
const indexUrl = getRelativeLocaleUrl('en', '');

const { locale } = Astro.params;
import enHomeData from '@/data/dictionaries/en/home.json';
import deHomeData from '@/data/dictionaries/de/home.json';

import enCommonData from '@/data/dictionaries/en/common.json';
import deCommonData from '@/data/dictionaries/de/common.json';
import ComparisonSection from '@/components/HomePage/sections/ComparisonSection.astro';
import HighlightSection from '@/components/HomePage/sections/HighlightSection.astro';
import PortfolioSection from '@/components/HomePage/sections/PortfolioSection.astro';
import ContactSection from '@/components/HomePage/sections/ContactSection.astro';
import PricingSection from '@/components/HomePage/sections/PricingSection.astro';
import QaSection from '@/components/HomePage/sections/QA/QaSection.astro';
import MeetingSection from '@/components/HomePage/sections/Meeting/MeetingSection.astro';
import { ContainerTextFlipClient } from '@/components/HomePage/ContainerTextFlipClient';
import HeroSection from '@/components/HomePage/sections/HeroSection.astro';
import Metadata from '@/components/seo/Metadata.astro';
import type { Props as MetadataProps } from '@/components/seo/Metadata.astro';

const translations = {
  en: {
    home: enHomeData,
    common: enCommonData,
  },
  de: {
    home: deHomeData,
    common: deCommonData,
  },
};

const homeData = locale === 'en' ? translations.en.home : translations.de.home;
const commonData =
  locale === 'en' ? translations.en.common : translations.de.common;
const heroData = homeData.hero;
const lg_screen_width = 'lg:w-[75vw]';
const default_screen_width = 'w-[85vw]';

const metadata: MetadataProps = {
  title: 'Web Agency',
  description: 'Web Agency Offering Custom Websites',
  keywords: ['web agency', 'websites', 'custom websites', 'astro'],
  creator: 'Jakub Cezary Kolando',
  publisher: 'Jakub Cezary Kolando',
  metadataBase: new URL('https://dashcruisedev.com'),
  alternates: {
    canonical: '/en',
    languages: {
      en: '/en',
      de: '/de',
      pl: '/pl',
      ro: "/ro"
    },
  },
  openGraph: {
    images: '/og-image.png',
  },
  imagesToPreload: {
    remoteImages: [
      {
        href: "https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/22218a4e-1efb-43dd-ff1e-562588e15a00/hd1920x1080",
        alt: "Background Image"
      }
    ]
  }
};

export async function getStaticPaths() {
  return [{ params: { locale: 'en' } }, { params: { locale: 'de' } }];
}

export const prerender = true;
---

<Layout metadata={metadata}>
  <div class="w-screen flex flex-col justify-center">
    <HeroSection
      heroData={heroData}
      commonData={commonData}
      lg_screen_width={lg_screen_width}
      default_screen_width={default_screen_width}
    />
    <ComparisonSection
      comparisonData={homeData.comparison}
      lg_screen_width={lg_screen_width}
      default_screen_width={default_screen_width}
    />
    <HighlightSection
      highlightData={homeData.highlight}
      lg_screen_width={lg_screen_width}
      default_screen_width={default_screen_width}
    />
    <PortfolioSection
      portfolioData={homeData.portfolio}
      lg_screen_width={lg_screen_width}
      default_screen_width={default_screen_width}
    />
    <ContactSection
      contactUsData={commonData.contactUs}
      contactFormData={commonData.contactForm}
      lg_screen_width={lg_screen_width}
      default_screen_width={default_screen_width}
    />
    <PricingSection
      locale={locale}
      pricingPlansData={commonData.pricingPlan}
      pricingSectionData={homeData.pricing}
      lg_screen_width={lg_screen_width}
      default_screen_width={default_screen_width}
    />
    <MeetingSection
      meetingData={homeData.meeting}
      lg_screen_width={lg_screen_width}
      default_screen_width={default_screen_width}
    />
    <QaSection
      qaData={homeData.qa}
      lg_screen_width={lg_screen_width}
      default_screen_width={default_screen_width}
    />
  </div>
</Layout>
