---
import CountrySelectionModal from '../modals/CountrySelectionModal';
import HamburgerToggle from './HamburgerToggle';
import NavbarMenu from './NavbarMenu.astro';

const lg_screen_width = 'lg:w-[75vw]';
const { navbarData, locale } = Astro.props;

type NavbarItem = {
  name: string;
  pathname: string;
};

const navbarItems: NavbarItem[] = navbarData['navbarItems'];
const cta: string = navbarData['cta'];

const pathname = Astro.url.pathname;
console.log("Pathname:", pathname);

const isHome = pathname === `/${locale}/` || pathname === `/${locale}`;
---

<nav
  class={`${isHome ? "absolute xl:left-[50%] xl:transform xl:translate-x-[-50%]" : "static"} top-0 xl:flex-row xl:my-[48px] xl:h-fit lg:rounded-4xl mx-auto h-fit flex-col caret-transparent flex text-white justify-between items-center  ${lg_screen_width} w-screen z-100`}
>
    {/* > XL Navbar*/}
  <div
    class={`${pathname === `/${locale}/` || pathname === `/${locale}` ? "" : "bg-black"} xl:flex hidden py-[14.5px] rounded-4xl w-full xl:px-0 xl:pl-6 sm:px-0 justify-center items-center`}
  >
    <a
      href="/"
      class="2xl:w-[500px] xl:w-[250px] xl:flex hidden self-center rounded-4xl h-full justify-center items-center"
    >
      <p
        class="font-semibold text-3xl tracking-2xl"
      >
        Dashcruise
      </p>
    </a>
    <div class="text-xl font-semibold tracking-sm flex items-center justify-center gap-8 w-full">
      <NavbarMenu navbarItems={navbarItems} locale={locale}/>
      <CountrySelectionModal
          client:media="(min-width: 1280px)"
          locale={locale}
        />
    </div>
    
    <div
      class="2xl:w-[500px] xl:w-[250px] xl:flex justify-center items-center scroll-smooth hidden"
    >
      <a
        href={`https://dashcruise.com/${locale}/#meeting-section`}
        class="font-bold text-lg text-center bg-carrot-500 border-2 border-carrot-800 w-fit rounded-4xl px-8 py-4 flex justify-center items-center cursor-pointer"
      >
        {cta}
      </a>
    </div>
  </div>

  {/* DEFAULT to XL Navbar*/}
  <div
    class={`${isHome ? "bg-black/50" : "bg-black"} z-100 mx-auto xl:hidden w-screen self-center flex flex-col items-center`}
  >
    <div class="flex items-center justify-between w-full py-5 px-10">
      {/* Logo */}
      <a href="/">
        <p>Dashcruise<span class="ml-2"></span></p>
      </a>
      {/* Hamburger */}
      <HamburgerToggle client:media="(max-width: 1279px)" />
    </div>
    <div class="relative w-screen ">
      <div
        id="menu"
        class={`${isHome ? "backdrop-blur-lg bg-black/50" : "bg-black"} py-5 absolute top-0 w-full caret-transparent xl:flex-row flex flex-col justify-center items-center text-[20px] font-semibold cursor-pointer 
transition-all duration-500 ease-in-out overflow-hidden 
     xl:max-h-none max-h-0 opacity-0`}
      >
      <NavbarMenu navbarItems={navbarItems} locale={locale}/>
      <div class="mt-4 xl:hidden">
        <CountrySelectionModal
          client:visible
          locale={locale}
        />
      </div>
    </div>
    </div>
  </div>
</nav>
