---
import { MenuItemsData } from '@/data/MenuItemsData';
import CountrySelectionModal from '../modals/CountrySelectionModal';
import Cookies from 'js-cookie';
import HamburgerToggle from './HamburgerToggle';

const lg_screen_width = 'lg:w-[75vw]';
const { locale } = Astro.params;

const pathname = Astro.url.pathname;
---

<nav
  class={`xl:flex-row xl:my-[48px] xl:h-[98px] lg:rounded-4xl mx-auto h-fit flex-col z-10 caret-transparent flex bg-black text-white justify-between items-center  ${lg_screen_width} w-screen`}
>
  <div
    class="xl:w-[350px] xl:px-0 xl:justify-start xl:pl-6 sm:px-0 w-full justify-center flex items-center"
  >
    {/* > XL Navbar (Only Icon)*/}
    <a
      href="/"
      class="xl:flex hidden self-center rounded-4xl p-2 justify-center items-center"
    >
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/c0d6674f-31fc-4fc3-cdcd-7cd049c48700/logo240x240"
        />
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
          alt="logo"
          width={240}
          height={240}
          loading="eager"
          fetchpriority="high"
        />
      </picture>
    </a>
    {/* DEFAULT to XL Navbar (Hamburger, Icon and Locale)*/}
    <div
      class="xl:hidden w-screen self-center p-2 flex justify-around items-center"
    >
      {/* Hamburger */}
      <HamburgerToggle client:media="(max-width: 1279px)" />
      {/* Logo */}
      <a href="/">
        <picture>
          <source
            media="(max-width: 1279px)"
            srcset="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/8b797d3f-6998-43c5-8c6e-ab7d5165b700/logo240x240"
          />
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
            alt="logo"
            class="ml-10 md:w-[200px] md:h-[200px] w-[120px] h-[120px]"
            loading="eager"
          />
        </picture>
      </a>

      <div class="ml-5">
        <CountrySelectionModal
          client:media="(max-width: 1279px)"
          locale={locale}
        />
      </div>
    </div>
  </div>
  <ul
    id="menu"
    class={`w-full caret-transparent xl:flex-row flex flex-col justify-center items-center text-[20px] font-semibold cursor-pointer 
    transition-all duration-500 ease-in-out overflow-hidden 
         xl:max-h-none xl:opacity-100 max-h-0 opacity-0`}
  >
    {
      MenuItemsData.map((item, index) => {
        const fullItemPath = `/${locale}/${item.pathname}`;
        const currentPath = Astro.url.pathname!.endsWith('/')
          ? pathname!.slice(0, -1)
          : pathname;
        const comparePath = fullItemPath.endsWith('/')
          ? fullItemPath.slice(0, -1)
          : fullItemPath;
        const isActive =
          currentPath === comparePath ? 'text-carrot-500' : 'text-white';
        const isLast = index === MenuItemsData.length - 1;
        return (
          <a
            data-astro-prefetch="hover"
            class={`${isActive} xl:mb-0 sm:pr-8 first:mt-0 last:pr-0 last:mb-5  xl:mt-0 md:mt-3 mt-5`}
            href={`/${locale}${item.pathname.startsWith('/') ? item.pathname : `/${item.pathname}`}`}
          >
            {item.name}
          </a>
        );
      })
    }
    <li class="xl:block hidden">
      <CountrySelectionModal
        client:media="(min-width: 1280px)"
        locale={locale}
      />
    </li>
  </ul>
  <div
    class="2xl:w-[350px] xl:w-[250px] xl:flex justify-end items-center scroll-smooth hidden"
  >
    <a
      href="#pricing_section"
      class="text-center bg-carrot-500 mr-12 rounded-4xl px-8 py-4 flex justify-center items-center cursor-pointer"
    >
      See Pricing
    </a>
  </div>
  <!--       <div class="2xl:w-[350px] xl:w-[250px] xl:flex justify-end items-center scroll-smooth hidden">
        {pageSlug === "/" ? (
          <a
            href="#pricing_section"
           /*  spy={true}
            smooth={true}
            duration={2000}
            offset={30}
            class="text-center bg-carrot-500  mr-12 rounded-4xl px-8 py-4 flex justify-center items-center cursor-pointer" */
          >
            See Pricing
          </a>
        ) : (
          <a href="/#pricing_section" class="text-center bg-carrot-500  mr-12 rounded-4xl px-8 py-4 flex justify-center items-center cursor-pointer">See Pricing</a>
        )}
      </div> -->
</nav>
