---
import FadeInSection from "@/components/FadeInSection.tsx";
import CheckIconCustom from "@/components/icons/CheckIconCustom";
import XIconCustom from "@/components/icons/XIconCustom";
import { IconSizeEnum } from "@/types/icon_types";

const {comparisonData, lg_screen_width, default_screen_width} = Astro.props;
---

<section class="caret-transparent lg:text-start text-center flex justify-center w-screen bg-white">
<!--     <FadeInSection> -->
      <div
        class={`lg:mb-0 lg:pt-[152px] lg:pb-[152px] pb-10 text-black ${lg_screen_width} ${default_screen_width}`}
      >
        {/* Build Faster Section */}
        <div class="">
          <h1 class="header-custom break-words">{comparisonData.header}</h1>
          <h1 class="header-custom"></h1>
        </div>

        <p class="font-normal text-base leading-6 mt-5">
          {comparisonData.description}
        </p>
        <hr class="mt-8" />
        {/* LandingPageDev and WordPress container */}
        <div class="lg:flex-row items-center flex flex-col justify-between w-full overflow-hidden mt-10">
          {/* LandingPageDev container */}
          <div class="comparison-container-custom border-magenta-300">
            <div>
              <h2 class="font-medium text-2xl leading-8 my-6">
                {comparisonData.dashcruiseDev.title}
              </h2>
            </div>
            <ul class="text-start">
              {comparisonData.dashcruiseDev.items.map(
                (item: string, index: number) => (
                  <li class="list-item-custom">
                    <div>
                      {/* <CheckIcon /> */}
                      <CheckIconCustom size={IconSizeEnum.small} client:visible/>
                    </div>{" "}
                    <span>{item}</span>
                  </li>
                )
              )}
            </ul>
          </div>
          {/* WordPress container */}
          <div class="lg:mt-0 comparison-container-custom border-vampire-400 mt-5">
            <div>
              <h2 class="font-medium text-2xl leading-8 my-6">
                {comparisonData.webBuilders.title}
              </h2>
            </div>
            <ul>
              {comparisonData.webBuilders.items.map(
                (item: string, index: number) => (
                  <li class="list-item-custom">
                    <div>
                      <XIconCustom size={IconSizeEnum.small} color="text-black" client:visible/> 
                    </div>{" "}
                    <span>{item}</span>
                  </li>
                )
              )}
            </ul>
          </div>
        </div>
      </div>
<!--     </FadeInSection> -->
  </section>