---
import FadeInSection from '@/components/common/FadeInSection';
import CheckIconCustom from '@/components/icons/CheckIconCustom';
import XIconCustom from '@/components/icons/XIconCustom';
import { IconSizeEnum } from '@/types/icon_types';

const { comparisonData } = Astro.props;
---

<style>
  .header-custom {
    font-weight: 500;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -2%;
  }
  .list-item-custom {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .list-item-custom div {
    margin-top: 0px;
  }
  .comparison-container-custom {
    width: 100%;
    border-radius: 0.75rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
  }

  @media (min-width: 1024px) {
    /* lg breakpoint */
    .comparison-container-custom {
      width: 34rem;
      height: 19.5rem;
      align-items: flex-start;
    }
  }
</style>
<section
  class="custom-section-padding caret-transparent lg:text-start text-center flex justify-center w-screen bg-black"
>
  <!--     <FadeInSection> -->
  <div class="custom-section-width text-white">
    {/* Build Faster Section */}
    <div class="">
      <h1 class="header-custom break-words">{comparisonData.header}</h1>
      <h1 class="header-custom"></h1>
    </div>

    <p class="font-normal text-base leading-6 mt-5">
      {comparisonData.description}
    </p>
    <hr class="mt-8" />
    {/* LandingPageDev and WordPress container */}
    <div
      class="lg:flex-row items-center flex flex-col justify-between w-full overflow-hidden mt-10"
    >
      {/* LandingPageDev container */}
      <div class="comparison-container-custom border-magenta-300">
        <div>
          <h2 class="font-medium text-2xl leading-8 my-6">
            {comparisonData.dashcruiseDev.title}
          </h2>
        </div>
        <ul class="text-start">
          {
            comparisonData.dashcruiseDev.items.map(
              (item: string, index: number) => (
                <li class="list-item-custom">
                  <div>
                    {/* <CheckIcon /> */}
                    <CheckIconCustom size={IconSizeEnum.small} client:visible />
                  </div>{' '}
                  <span>{item}</span>
                </li>
              )
            )
          }
        </ul>
      </div>
      {/* WordPress container */}
      <div class="lg:mt-0 comparison-container-custom border-vampire-400 mt-5">
        <div>
          <h2 class="font-medium text-2xl leading-8 my-6">
            {comparisonData.webBuilders.title}
          </h2>
        </div>
        <ul>
          {
            comparisonData.webBuilders.items.map(
              (item: string, index: number) => (
                <li class="list-item-custom">
                  <div>
                    <XIconCustom
                      size={IconSizeEnum.small}
                      color="text-white"
                      client:visible
                    />
                  </div>{' '}
                  <span>{item}</span>
                </li>
              )
            )
          }
        </ul>
      </div>
    </div>
  </div>
  <!--     </FadeInSection> -->
</section>
