---
import ContactUsForm from '@/components/common/ContactForm';
import type {ContactFormDataProps} from "@/types/common_types"

type ContactUsDataType = {
  header: string;
  description: string;
};

interface Props {
  contactUsData: ContactUsDataType;
  contactFormData: ContactFormDataProps;
}

const { contactUsData, contactFormData } = Astro.props;

const headerLines = contactUsData.header.split('\n');
import { mobileTypography, desktopTypography } from '@/styles/typography';
---

<section class="custom-section-padding bg-white w-screen flex justify-center">
  <!--   <FadeInSection> -->
  {/* Wrapper with defined width */}
  <div
    class="custom-section-width lg:justify-between lg:flex-row  flex flex-col"
  >
    {/* Description */}
    <div class="caret-transparent lg:w-[530px] text-start">
      {/* <h2 class="text-carrot-500 text-sm leading-5 mb-2">Contact Us</h2> */}
      <h1 class={`${mobileTypography.H2Semibold} ${desktopTypography.H2} text-5xl tracking-tight`}>
        {headerLines.map((text: string, index: number) => <div>{text}</div>)}
      </h1>
      <p class={`${mobileTypography.Paragraph} ${desktopTypography.Menu} mt-5`}>
        {contactUsData.description}
      </p>
    </div>
    <ContactUsForm
      padding="lg:p-10 p-0"
      marginTop="lg:mt-0 mt-10"
      formData={contactFormData}
      client:visible
    />
  </div>
  <!--   </FadeInSection> -->
</section>
