---
const { exclusiveData } = Astro.props;
---

<div
  class="caret-transparent text-white w-screen bg-black custom-section-padding"
>
  <div
    class="lg:flex-row flex-col custom-section-width mx-auto flex gap-[102px]"
  >
    <div class="flex flex-col w-full">
      <h3 class="text-[#EF7A0E] text-lg font-normal leading-3xl tracking-sm">
        {exclusiveData.sectionHighlight}
      </h3>
      <h2 class="mt-2 text-[64px] font-semibold leading-md tracking-xl">
        {exclusiveData.header}
      </h2>
      <p
        class="text-[#D9D4D2] mt-6 text-base font-normal leading-3xl tracking-sm"
      >
        {exclusiveData.text}
      </p>
      <ul class="mt-6 gap-2 text-[#D9D4D2]">
        {
          exclusiveData.benefitList.map((item: any) => (
            <li>
              <div class="flex items-center gap-2">
                <>
                  <img
                    loading="lazy"
                    width={16}
                    height={16}
                    src="/check-icon-2.svg"
                  />
                  <p>{item}</p>
                </>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
    <div
      class="relative w-full rounded-[20px] flex flex-col p-10 overflow-hidden"
    >
      <div
        style="background: linear-gradient(to right, white, #EF730E)"
        class="absolute inset-0 w-full h-full pointer-none mix-blend-lighten opacity-10"
      >
      </div>
      <h3
      set:html={exclusiveData.offerHighlight}
        class="lg:text-start text-center z-10 font-normal text-2xl leading-3xl"
      >
      </h3>
      <div class="lg:flex-row flex-col items-center z-10 mt-4 flex gap-8 h-fit">
        <div class="text-white flex items-end">
          <h3 class="text-[46px] leading-lg tracking-2xl line-through">
            $99.99
          </h3>
          <p class="mb-1">/{exclusiveData.interval}</p>
        </div>
        <div class="flex items-end">
          <h3 class="text-[#EF730E] text-[46px] leading-lg tracking-2xl">
            $49.99
          </h3>
          <p class="mb-1">/{exclusiveData.interval}</p>
        </div>
      </div>
      <ul class="z-10 text-[#D9D4D2] mt-6">
        {
          exclusiveData.benefitList.map((item:any) => (
            <li class="first:mt-0 mt-[18px]">
              <div class="lg:justify-start flex justify-center items-start gap-3">
                <img src="/check-icon.svg" />
                <p>{item}</p>
              </div>
            </li>
          ))
        }
      </ul>
      <a
        href="#pricing_section"
        style="background: linear-gradient(to top left, #EF290E, #EF7A0E)"
        class="z-10 cursor-pointer rounded-[8px] mt-10 w-full flex items-center justify-center py-3.5 px-8 text-xl font-semibold leading-2xl tracking-md"
      >
        { exclusiveData.cta }
      </a>
    </div>
  </div>
</div>
