---
import { ContainerTextFlipClient } from '../ContainerTextFlipClient';
import ExclusivePlan from '../ExclusivePlan.astro';

const { lg_screen_width, default_screen_width, heroData, commonData } =
  Astro.props;
---

<div
  class=`relative caret-transparent w-screen  flex justify-center lg:min-h-[75vh]`
>
  <div class="absolute inset-0 bg-black z-[-1] md:hidden"></div>
  <div class={`fixed -z-10  inset-0 w-screen h-screen sm:block hidden`}>
    <img
      src="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/22218a4e-1efb-43dd-ff1e-562588e15a00/hd1920x1080"
      alt="Background image"
      loading="eager"
      class="relative w-screen h-screen overflow-hidden"
    />
  </div>
  <div
    class={`pb-[48px] ${lg_screen_width} flex  ${default_screen_width} overflow-hidden`}
  >
    {/* Main Hero Section */}
    <div
      class="z-10 lg:justify-between lg:flex-row flex flex-col justify-center items-center w-full"
    >
      {/* Launch Your Site */}
      <div class="lg:w-[662px] flex flex-col lg:items-start text-white">
        <div
          class="lg:text-7xl lg:leading-[90px] lg:text-start text-6xl my-5 leading-[80px] tracking-[-2%] font-bold font-sans text-center"
        >
          <h1>
            {heroData.headerBeforeEffect}
            <span class="block">
              <ContainerTextFlipClient
                words={heroData.headerEffect}
                client:load
              />
            </span>{' '}
            {heroData.headerAfterEffect}
          </h1>
        </div>
        <p
          class="sm:hidden lg:text-start text-base leading-6 text-center break-words mb-2"
        >
          We craft custom websites designed to bring your ideas to life and help
          you grow your business.
          <br />
        </p>
      </div>
      <ExclusivePlan planData={commonData.exclusivePlan} currency="eur" />
    </div>
  </div>
</div>
