---
import NumbersScrollEffect from '@/components/HomePage/NumbersScrollEffect';

const { numbersData } = Astro.props;
---

<style>
  #numbers-row h3 {
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -3%;
    line-height: 105%;
  }
  #numbers-row p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.5%;
    color: #3e3c3a;
    margin-top: 16px;
    text-align: center;
  }
  @media (width <=1023px) {
    .divider {
      display: none;
    }
  }
  .divider {
    width: 1px;
    height: 100px;
    background-color: #d9d4d2;
    margin-left: auto;
    margin-right: auto;
    grid-column: span 1 / span 1;
  }
</style>
<section
  class="caret-transparent custom-section-padding flex justify-center items-center bg-white text-black"
>
  <div class="custom-section-width mx-auto">
    <div class="flex flex-col">
      <div class="lg:flex-row lg:text-start text-center flex-col flex">
        <h3 class="lg:text-5xl text-[28px]  font-semibold lg:leading-lg leading-xl lg:tracking-2xl tracking-xl">
          {numbersData.header1}
          <span class="font-normal text-[#848080]">{numbersData.header2}</span>
        </h3>
        <p
          class="mt-2 text-[#848080] lg:text-[28px] text-lg  font-normal lg:leading-lg leading-3xl tracking-xl"
        >
          {numbersData.description}
        </p>
      </div>
      <div
        id="numbers-row"
        class="lg:grid-cols-7 lg:items-center grid-cols-2 gap-15 mt-15 grid w-full mx-auto items-start"
      >
        {
          numbersData.achievementList.map((item: any) => (
              <div class="flex flex-col items-center">
                <h3>{item.value}</h3>
                <p>{item.text}</p>
              </div>
              <div class="divider last:hidden" />
          ))
        }
      </div>
    </div>
  </div>
</section>
