---
type PortfolioItem = {
  name: string;
  imageUrl: string;
};

interface PortfolioDataType {
  header: string;
  portfolioItems: PortfolioItem[];
};
 
interface Props {
  lg_screen_width: string;
  default_screen_width: string;
  portfolioData: PortfolioDataType;
}
 
const { lg_screen_width, default_screen_width, portfolioData } = Astro.props;
---

<section id="portfolio" class="bg-white caret-transparent flex justify-center w-screen">
<!--   <FadeInSection> -->
    <div
      class={`lg:py-[150px] lg:text-start ${lg_screen_width} ${default_screen_width} text-center py-10`}
    >
      <h1 class="font-medium text-5xl leading-15 mb-6 tracking-tight">
        {portfolioData.header}
      </h1>
      {/* Portfolio Container */}
      <div
        class="lg:flex-row flex flex-col items-center justify-between text-center"
      >
        {
          portfolioData.portfolioItems.map(
            (item: PortfolioItem, index: number) => (
              <div
                class="lg:mt-[58px] mt-[20px] highlight-container-custom"
              >
                <div class="relative overflow-hidden lg:w-[400px] lg:h-[400px] rounded-2xl object-cover w-[200px] h-[200px] mx-auto">
                  <img
                    src={item.imageUrl}
                    alt="Portfolio Picture"
                     loading="lazy"
                    class="object-cover absolute inset-0 w-full h-full "
                  />
                </div>
                <p class="mt-3 font-medium text-2xl leading-8">{item.name}</p>
              </div>
            )
          )
        }
      </div>
      {/*<Testimonials1/>*/}
    </div>
<!--   </FadeInSection> -->
</section>
