---
/* import FadeInSection from '@/components/common/FadeInSection';
 */
import PricingPlan from '@/components/HomePage/Pricing/PricingPlan.astro';
import type { StripePriceSimplified } from '@/types/stripe_types';

type PricingFeatureProp = {
  featureHighlight: string;
  featureDescription: string;
};

type PricingPlanType = {
  name: string;
  price: string;
  description: string;
  additionalPagePrice: string;
  bgColor: string;
  textPrimaryColor: string;
  textSecondaryColor: string;
  features: PricingFeatureProp[];
  extraPagesHeader: string;
  iteration: string;
  extraPagesDescription: string;
  lookupKey: string;
};

type PricingDataType = {
  header: string;
  description: string;
};

interface Props {
  pricingPlansData: PricingPlanType[];
  pricingSectionData: PricingDataType;
  locale: string;
  prices: StripePriceSimplified[];
}

const {
  pricingPlansData,
  pricingSectionData,
  locale,
  prices,
} = Astro.props;

import { mobileTypography, desktopTypography } from '@/styles/typography';
---

<section
  id="pricing_section"
  class=" bg-black text-white custom-section-padding caret-transparent lg:max-w-screen lg:px-30 w-full flex flex-col items-center mx-auto px-8"
>
  <!--   <FadeInSection> -->
  <div class="custom-section-width">
    <div class="lg:px-10 max-w-[964px] w-full px-0 mx-auto text-center">
      <h3 class={`text-[#EF7A0E] ${mobileTypography.Body18}`}>Flexible Pricing Options</h3>
      <h1 class={`${mobileTypography.H2Semibold} ${desktopTypography.H2} mt-2`}>
        {pricingSectionData.header}
      </h1>
      <p class={`lg:mt-6 mt-4 ${mobileTypography.Paragraph} ${desktopTypography.Menu} text-[#D9D4D2] max-w-[500px] mx-auto`}>
        {pricingSectionData.description}
      </p>
    </div>

    {/* Available Plans */}
    <div
      class="custom-section-width lg:pt-14 pt-5 flex-wrap lg:items-start lg:flex-row lg:justify-around flex flex-col justify-center items-center"
    >
      {
        pricingPlansData!.map((plan: PricingPlanType, index: number) => (
            <PricingPlan
              prices={prices}
              locale={locale}
              planName={plan.name}
              planPrice={plan.price}
              planDescription={plan.description}
              additionalPagePrice={plan.additionalPagePrice}
              bgColor={plan.bgColor}
              textPrimaryColor={plan.textPrimaryColor}
              textSecondaryColor={plan.textSecondaryColor}
              features={plan.features}
              extraPagesHeader={plan.extraPagesHeader}
              iteration={plan.iteration}
              extraPagesDescription={plan.extraPagesDescription}
              lookupKey={plan.lookupKey}
              interval={plan.iteration}
            />
        ))
      }
    </div>
  </div>
  <!--   </FadeInSection> -->
</section>
