---
const { whyChooseUsData } = Astro.props;

type offerItem = {
  icon: string;
  header: string;
  description: string;
};

import { mobileTypography } from "@/styles/typography";
import { desktopTypography } from "@/styles/typography";
import clsx from "clsx";
---

<style>
  .offer-container {
  }
</style>
<script>
  function initImageObserver(){
    const observer = new IntersectionObserver((entries, obs) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting && window.innerWidth >= 1024) {
          const images = document.querySelectorAll(
            'img[data-src]'
          ) as NodeListOf<HTMLImageElement>;
          images.forEach((img) => {
            if (img instanceof HTMLImageElement && img.dataset.src) {
              img.src = img.dataset.src;
              img.removeAttribute('data-src');
            }
          });
          observer.unobserve(entry.target);
        }
      });
    }, {root:null,rootMargin: "0px 0px 10% 0px"});
    const imgContainer = document.getElementById(
      'img-container'
    ) as HTMLDivElement;
    observer.observe(imgContainer);
  }

  document.addEventListener('astro:page-load', initImageObserver)
</script>
<section
  class="custom-section-padding caret-transparent overflow-visible relative -z-10 w-screen flex justify-center items-center bg-[#010101] text-white"
>
  <!-- repeating square grid -->
  <div
    style="background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.05), transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.05), transparent 1px);
        background-size: 80px 80px;"
    class="-z-10 absolute top-0 inset-0 bg-black"
  >
  </div>
  <div class="custom-section-width h-fit">
    <div
      class="lg:flex-row text-start flex-col relative flex gap-11"
    >
      <div
        class="lg:h-screen lg:sticky static lg:top-[40px] flex flex-col w-full"
      >
        <!-- round bg gradient circle -->
        <!-- move bg 100% to the left  -->
        <div
          style="background-size: 100% 100%; background-position: top -100%;"
          class="lg:block hidden mix-blend-lighten blur-[600px] bg-gradient-to-br from-[#EF290E80] to-[#EF7A0E40] to-50% absolute top-0 left-full transform translate-x-[-50%] w-[475px] h-[475px] rounded-full -z-9"
        >
        </div>
        <h3
          class={`text-[#EF7A0E] ${mobileTypography.Body18}`}
        >
          {whyChooseUsData.sectionHighlight}
        </h3>
        <h2
          class={`${desktopTypography.H2} ${mobileTypography.H2Semibold} mt-2`}
        >
          {whyChooseUsData.header}
        </h2>
        <p
          class={`mt-6 text-[#D9D4D2] ${desktopTypography.Menu} ${mobileTypography.Paragraph} max-w-[500px]`}
        >
         {whyChooseUsData.description}
        </p>
        <div id="img-container" class="lg:block hidden mt-15 relative w-fit">
          <img
            loading="lazy"
            class=""
            data-src="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/f271d9b2-19d1-4e92-0e0a-b2492d56bd00/mobile640x480"
          />
          <img
            loading="lazy"
            class="absolute bottom-0 left-0"
            data-src="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/b07e1cae-1bc6-454c-d1a3-eff233b0df00/mobile640x480"
          />
          <img
            loading="lazy"
            class="absolute top-10 right-[-50%] -z-5"
            data-src="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/181cd578-eb0b-4e17-0a7a-274ffaa5f400/mobile640x480"
          />
        </div>
      </div>
      {/* Right column */}
      <div class="lg:overflow-y-auto h-full flex flex-col w-full z-0 gap-12">
        {
          whyChooseUsData.items.map((item: offerItem) => (
            <div class="w-full rounded-[12px] bg-gradient-to-b from-[#000000]/3 to-[#EF700E]/30 offer-container p-11 flex flex-col">
              <div class="flex items-center justify-center w-[85px] h-[85px] bg-[#EF7A0E]/10 backdrop-blur-md rounded-full">
                <img loading="lazy" src={item.icon} />
              </div>
              <h3 class={`mt-6 lg:${desktopTypography.H4} ${mobileTypography.H4}`}>
                {item.header}
              </h3>
              <p class={`mt-4 text-[#D9D4D2] ${desktopTypography.Menu} ${mobileTypography.Paragraph}`}>
                {item.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
