---
import QAComponent from './QAComponent';

type QaItemType = {
  question: string;
  answer: string;
};

type QaDataType = {
  sectionHighlight: string;
  header: string;
  qaData: QaItemType;
};

const { qaData} = Astro.props;
import { mobileTypography, desktopTypography } from '@/styles/typography';
---

<section id="qa_section" class="custom-section-padding bg-white caret-transparent flex justify-center w-screen">
<!--   <FadeInSection> -->
    <div
      class="custom-section-width lg:text-start text-center"
    >
      <div class="text-center">
        <h3 class={`${mobileTypography.Body18} ${desktopTypography.Menu} text-carrot-500`}>
          {qaData.sectionHighlight}
        </h3>
        <h1 class={`${mobileTypography.H2Semibold} ${desktopTypography.H2}`}>
          {qaData.header}
        </h1>
      </div>

      <QAComponent client:visible qaData={qaData.qaData}/>
    </div>
<!--   </FadeInSection> -->
</section>
