---
import { supportedLocaleArray } from '@/utils/translationUtils';
import type { Props as MetadataProps } from '@/components/seo/Metadata.astro';
import {
  fetchArticleBySlug,
  fetchSectionDataByTrasnlationId,
  fetchSlugsWithLocale,
  generateHreflangsForArticles,
} from '@/actions/articleActions';
import type { ArticleData, SectionData, SlugWithLocale } from '@/types/article_types';
import Layout from '@/layouts/MainLayout.astro';
import { SocialIcons2 } from '@/components/common/SocialIcons2';
import sanitizeHtml from 'sanitize-html'
/* import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '@/layouts/BlogPost.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id, locale: 'en' },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post); */

const lg_screen_width = 'lg:w-[75vw]';
const default_screen_width = 'w-[85vw]';
const { locale, slug } = Astro.params;

const slugsWithLocale: SlugWithLocale[] = await fetchSlugsWithLocale();
const { languages } = generateHreflangsForArticles(slugsWithLocale);
const articleData: ArticleData | null = await fetchArticleBySlug(slug);
console.log("ArticleData body: ", articleData);

let sectionData: SectionData[] | null = null;
if(articleData){
  const {data, error} = (await fetchSectionDataByTrasnlationId(articleData.id)) as any; 
  if(error) console.error(error);
  sectionData = data;
}

const metadata: MetadataProps = {
  title: 'Web Agency',
  description: 'Web Agency Offering Custom Websites',
  keywords: ['web agency', 'websites', 'custom websites', 'astro'],
  creator: 'Jakub Cezary Kolando',
  publisher: 'Jakub Cezary Kolando',
  metadataBase: new URL('https://dashcruisedev.com'),
  alternates: {
    canonical: `/${locale}/${slug}`,
    languages: languages,
  },
  openGraph: {
    images: '/og-image.png',
  },
  /*imagesToPreload: {
    remoteImages: [
      {
        href: 'https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/22218a4e-1efb-43dd-ff1e-562588e15a00/hd1920x1080',
        alt: 'Background Image',
      },
    ],
  },*/
};

export async function getStaticPaths() {
	const slugsWithLocale = await fetchSlugsWithLocale();
  return slugsWithLocale.map((item: any) => ({
    params: { locale: item.locale, slug: item.slug },
  }));
}

export const prerender = true;
// cache for 1h, serve stale for 60s while revalidating
Astro.response.headers.set('Cache-Control', 'public, s-maxage=3600, stale-while-revalidate=60')
---

<Layout metadata={metadata}>
  <div
    class={`caret-transparent ${lg_screen_width} ${default_screen_width} mx-auto min-h-screen flex md:flex-row flex-col justify-center`}
  >
    {/* Sidebar navigation */}
    <div class="md:sticky md:block hidden caret-accent h-[320px]  top-20 left-0 mt-50 mr-20 text-base w-[200px]">
		<h2 class="mb-5">ON THIS PAGE</h2>
		<hr />
      
    <ul>
      {
      sectionData && sectionData!
        .sort((a, b) => a.order - b.order)
        .map((section) => (
          <li class="mt-5 cursor-pointer">
            <a href=`#${section.section_slug}`>{section.section_title}</a>
          </li>
        ))
      }
    </ul>
	  </div>

    {/* Main Content in the Middle */}
    <div
      class={` text-gray-700 lg:w-1/2 font-normal text-medium-body leading-medium-body w-full text-base`}
    >
      <h1
        class="font-medium text-center text-medium-header leading-medium-header"
      >
        {articleData?.introduction}
      </h1>
      <div class="mt-10 relative w-full aspect-video">
        <img
          alt="main-image"
          src="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/e097d49d-c0e4-4644-f379-8a731753de00/hd1920x1080"
          fetchpriority="high"
          loading="eager"
          class="object-cover inset-0 absolute w-full h-full"
        />
      </div>
      {
        articleData?.body && (
          <div
            set:html={sanitizeHtml(articleData.body, {
              allowedTags: sanitizeHtml.defaults.allowedTags.concat(['h1', 'h2', 'ol', 'li', 'section']),
              allowedAttributes: {
                ...sanitizeHtml.defaults.allowedAttributes,
                h2: ['id' ,'style'],
                ol: ['style'],
                section: ['id']
              }
            })}
            class="mb-50"
          />
        )
      }
    </div>

    {/* Social Media On the Right*/}
    <div
      class="md:sticky md:block hidden w-[200px] h-[250px] shadow-md ml-20 py-5 rounded-sm top-20 left-0 mt-50 flex flex-col justify-center"
    >
      <h2 class="text-center mb-5 w-1/2 mx-auto">Check Our Social Media</h2>
      <SocialIcons2 linkedin_url="s" fb_url="s" direction="flex-col" />
    </div>
    {/* Social Media on Small Screens */}
    <div
      class="md:hidden block shadow-md py-5 my-5 rounded-sm w-full flex-wrap"
    >
      <h2 class="text-center mb-5 w-1/2 mx-auto">Check Our Social Media</h2>
      <SocialIcons2
        linkedin_url="https://www.linkedin.com/in/jakub-cezary-kolando-137491269/"
        fb_url="https://www.facebook.com/profile.php?id=61574463432787&notif_id=1743636704425943&notif_t=page_user_activity&ref=notif"
        ig_url="https://www.instagram.com/perspective_135/"
        direction="flex-row"
      />
    </div>
  </div>
</Layout>
