---
import type { GetStaticPaths } from "astro";
import enContactData from "@/data/dictionaries/en/common.json"
import deContactData from "@/data/dictionaries/de/common.json"
import ContactUsForm from "@/components/common/ContactForm";
import Layout from "@/layouts/MainLayout.astro"
import { SupportedLocaleArray, translations, type SupportedLocale } from "@/utils/translationUtils";
import Metadata from '@/components/seo/Metadata.astro';
import type { Props as MetadataProps } from '@/components/seo/Metadata.astro';

const {locale} = Astro.params;

const lg_screen_width = "lg:w-[75vw]"
const default_screen_width = "w-[85vw]"

const supportedLocale = locale as SupportedLocale;

const contactData = await translations[supportedLocale]['common.json']();
const contactUsData = contactData.contactUs;
const contactFormData = contactData.contactForm;

const metadata: MetadataProps = {
  title: 'Web Agency',
  description: 'Web Agency Offering Custom Websites',
  keywords: ['web agency', 'websites', 'custom websites', 'astro'],
  creator: 'Jakub Cezary Kolando',
  publisher: 'Jakub Cezary Kolando',
  metadataBase: new URL('https://dashcruisedev.com'),
  alternates: {
    canonical: '/contact',
    languages: {
      en: '/en/contact',
      de: '/de/kontakt',
      pl: '/pl/kontakt',
      ro: '/ro/contact',
      'x-default': '/en/contact'
    },
  },
  imagesToPreload: {
    remoteImages: [
      {
        href: 'https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/8b797d3f-6998-43c5-8c6e-ab7d5165b700/logo240x240',
        alt: '',
      },
    ],
  },
  openGraph: {
    url: "https://dashcruisedev.com",
    title: "DashcruiseDev - Custom Web Agency",
    description: "Web development agency offering multilingual, blazing-fast websites tailored to your brand",
    image: 'https://dashcruisedev.com/og-image.png',
  },
  /*  imagesToPreload: {
    remoteImages: [
      {
        href: "https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/22218a4e-1efb-43dd-ff1e-562588e15a00/hd1920x1080",
        alt: "Background Image",
        media: "(min-width: 640px)"
      }
    ]
  } */
};

export async function getStaticPaths() {
  return SupportedLocaleArray.map((supportedLocale) => (
    {
      params: { locale: supportedLocale }
    }
  ))
}

export const prerender = true
---

<div class="w-screen h-full bg-white flex justify-center items-center">
  <div
    class={`flex flex-col justify-center items-center ${lg_screen_width} ${default_screen_width}`}
  >
    <div class="lg:w-fit w-full p-10 mb-24 mx-auto">
      <h1 class="font-normal text-[40px]">{contactUsData.header}</h1>
      {
        /* <h2 class="text-base font-bold tracking-wide mt-8">Hours</h2>
          <h3 class="font-normal text-base tracking-wide text-start mt-8 leading-10">
            Monday - Friday: 10:00am - 7:30pm <br />
            Saturday: 10:00am - 6:00pm <br />
            Sunday: 11:00am - 6:00pm
          </h3> */
      }
      <h2>{contactUsData.phone} +45 52720387</h2>
      <h2>{contactUsData.email} contact@dashcruisedev.com</h2>
      <h2
        class="lg:w-1/2 w-full font-normal text-base tracking-wide text-start mt-8 leading-7"
      >
        {contactUsData.description}
      </h2>
      <ContactUsForm marginTop="mt-16" formData={contactFormData} client:load/>
    </div>
  </div>
</div>