---
import ComparisonSection from '@/components/HomePage/sections/ComparisonSection.astro';
import ContactSection from '@/components/HomePage/sections/ContactSection.astro';
import HeroSection from '@/components/HomePage/sections/HeroSection.astro';
import MeetingSection from '@/components/HomePage/sections/Meeting/MeetingSection.astro';
import NumbersSection from '@/components/HomePage/sections/NumbersSection.astro';
import PortfolioSection from '@/components/HomePage/sections/PortfolioSection.astro';
import PricingSection from '@/components/HomePage/sections/PricingSection.astro';
import QaSection from '@/components/HomePage/sections/QA/QaSection.astro';
import RatingSection from '@/components/HomePage/sections/RatingSection.astro';
import WhyChooseUsSection from '@/components/HomePage/sections/WhyChooseUsSection.astro';

const { prices, commonData, homeData, locale } = Astro.props;
const heroData = homeData['hero'];
---

<div>
  <a href="https://wa.me/4552720387" class="fixed bottom-5 right-5 z-50">
    <img
      class="animate-[bounce_3s_ease-out_infinite]"
      src="/whatsapp-icon.svg"
      width={70}
      height={70}
    />
  </a>
  <div class="w-screen flex flex-col justify-center">
    <HeroSection prices={prices} heroData={heroData} commonData={commonData} />
    <NumbersSection />
    <WhyChooseUsSection whyChooseUsData={homeData.whyChooseUs} />
    <PortfolioSection portfolioData={homeData.portfolio} />
    <ComparisonSection comparisonData={homeData.comparison} />
    <RatingSection />
    <!-- <HighlightSection
      highlightData={homeData.highlight}
      lg_screen_width={lg_screen_width}
      default_screen_width={default_screen_width}
    /> -->
    <ContactSection
      contactUsData={commonData.contactUs}
      contactFormData={commonData.contactForm}
    />
    { prices && <PricingSection
      prices={prices}
      locale={locale}
      pricingPlansData={commonData.pricingPlan}
      pricingSectionData={homeData.pricing}
    /> }
    <MeetingSection meetingData={homeData.meeting} />
    <QaSection qaData={homeData.qa} />
  </div>
</div>
